a {
  color: #FF4500;
  text-decoration: none;
}

a:hover,
.link:hover {
  opacity: 90%;
  cursor: pointer;
}

.button {
  display: block;
  background-color: #FF4500;
  text-decoration: none;
  padding: 10px 0;
  color: beige;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: beige;
  font-size: 40px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.highlight {
  background-color: #FF4500;
}

.highlight .link {
  color: white;
  text-decoration: none;
}

.history {
  font-size: small;
  color: #555;
}

.left {
  float: left;
}

.main {
  max-width: 500px;
  margin: 50px auto;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

.modal-icon {
  margin-top: 15px;
}

.modal-msg {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  background-color: beige;
  text-align: center;
  padding: 10px;
}

.round {
  margin: 5px;
  clip-path: circle(50%);
  vertical-align: middle;
}
