.comment:hover {
  cursor: pointer;
}

.comment-author {
  font-weight: bold;
}

.comment-content {
  margin-left: 16px;
  margin-bottom: 10px;
  padding-left: 16px;
  border-width: 0 0 0 2px;
  border-style: dotted;
  border-color: #ccc;
  color: #555;
  cursor: default;
}

.comment-content p {
  margin: 7px 0;
}

.comment-source {
  cursor: default;
}

.compact {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
